@inherits LayoutComponentBase

<PageTitle>SaloonOnline1</PageTitle>

<div class="container-fluid  page">
        

    <main class="">
            <NavMenu />

        <article class="content">
            @Body
        </article>
    </main>
</div>
