<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand">
                            <img src="SaloonOnline/toplogo.png" alt=""
                                 width="180">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class=" collapse navbar-collapse " id="navbarNavDropdown">
                            <ul class="navbar-nav ms-auto ">
                                <li class="nav-item pt-0">
                                    <a class="nav-link mx-2 " aria-current="page" href="#about" id="topbar">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mx-2" href="#feature" id="topbar">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mx-2" href="#screen" id="topbar">Screen</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link mx-2  " href="#faq" id="topbar">
                                        FAQ
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link mx-2  " href="#contact" id="topbar">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ms-auto d-lg-inline-flex">
                                <li class="nav-item mx-2 pt-0">
                                    <a class="nav-link btn btn-lg btn-outline-light border border-2  fw-bold " id="book-a" href="https://solochoicez.nayatel.net:8000/">Book an Appointment</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row  ">
            <div class="col-md-6 py-5" data-aos="fade-down">
                <h1>
                    <b class="red">Your Hassle-Free</b><br>
                    <b>
                        Saloon.Online Booking <br>
                        Solution
                    </b>
                </h1>
                <p>We've designed the perfect solution to make your <br>hairdressing appointment a breeze.</p>
                <div class="main-btn pt-4 row">
                    <div class="col-md-4 pt-2 text-end">
                        <a href="#" class="btn  btn-top d-flex bounce">
                            <span class="fab fa-google-play fa-2x pull-left"></span>
                            <span class="btn-label">Available On <br><span class="btn-caption">GOOGLE PLAY</span></span>
                        </a>
                    </div>
                    <div class="col-md-4 pt-2 text-start">
                        <a href="#" class="btn  btn-top1 d-flex bounce">
                            <span class="fab fa-apple fa-2x pull-left"></span>
                            <span class="btn-label">Available On <br><span class="btn-caption">APP STORE</span></span>
                        </a>
                    </div>
                    <p class="fst-italic py-2">* Available on iphone, ipad and all Android devices</p>
                </div>
            </div>
            <div class="col-md-6 py-3" data-aos="fade-up">
                <div class="main-banner text-center">
                    <img src="SaloonOnline/Group 18051.png" alt="" style="width: 50%;">
                </div>
            </div>
        </div>

    </div>
</div>